html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
 
}
.confetti-container {
  width: 100%;
  height: 100%;
}


.fundoCadastro {
  background-image: url("https://ik.imagekit.io/lcjdr9dex/sign-up-animate.svg?updatedAt=1705615372980");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}